.browse {
  background-color: black;
  color: white;
}

.main-container {
  position: relative;
}

.video-background {
  /* border: 5px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-background iframe {
  height: 90vh;
  width: 100vw;
  transform: scale(1.5);
  pointer-events: none;
}

.video-title {
  font-size: 1.3rem;
  /* border: 5px solid green; */
  position: absolute;
  top: 0%;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  padding-left: 2rem;
}
