.login {
  border: 5px solid black;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/6863f6e8-d419-414d-b5b9-7ef657e67ce4/web/IN-en-20250602-TRIFECTA-perspective_27a3fdfa-126f-4148-b153-55d60b51be6a_large.jpg");
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.624);
  border-radius: 8px;
}

.login-heading {
  font-size: 3rem;
}

.login-form input {
  font-size: 1.5rem;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: none;
  background: rgb(55, 55, 55);
  color: white;
  border-radius: 5px;
}

.login-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
}

.validation-error-message {
  color: red;
}

.signup-text-container {
  text-align: center;
  margin-top: 0.5rem;
}

.signup-text-clickable {
  cursor: pointer;
}

.signup-text-clickable:hover {
  text-decoration: underline;
}
